[Desktop Entry]
Name=JarMan
Exec=./jdk-21.0.2/bin/java -jar freej2me.jar "file://$(pwd)/midlet.jar"
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
